body {font-family: "SF UI Text","SF Compact Text","Helvetica",Arial,sans-serif !important;letter-spacing: inherit;} 

/* less height for individual tasks */

.item_checkbox {
    margin-top: 3px !important;
}

.task_list_item__content {
    padding: 0px 0px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
}

.task_content {
    line-height: 25px !important;
}

.task_list_item__info_tags {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.date {
    margin-right: 20px !important;
}

.task_list_item__actions {
    margin-top: 0px !important;
    margin-right: -30px !important;
    padding: 0px 0px !important;
}

.project_item__name {
    padding: 3px 2px 0px 0px;
}

#agenda_view .section_day, #agenda_view .section_overdue {
    margin-bottom: 0px !important;
}

ul.items.day_list.ul_today.is_filtered {
    margin-bottom: 10px !important;
}

ul.section_list>li {
	padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.view_header {
    margin-bottom: 0px !important;
    border-top: 10px #555555 !important;
}

.section {
    margin-bottom: 10px !important;
}    

.section h2, .section h2 a {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
    font-family: "SF UI Text","SF Compact Text","Helvetica",Arial,sans-serif !important;
    font-size: 15px !important;
    font-weight: 100;
    color: gray;
    text-transform: uppercase;
}

.subsection_header__date {
    font-size: 15px !important; 
}

div.project_editor_instance {
    margin-bottom: 0px !important;
}

/* less padding between projects in left menu */

.generic_left_list.items li { 
    padding-top: 0px !important;
}

.generic_left_list li table td { 
    padding: 3px 0px !important;
	font-size: 12pt !important;
}

/* uncomment the following to remove gray lines between each task */
/* .task_list_item { border-bottom: 0px !important; } */
