body {font-family: "SF UI Text","SF Compact Text","Helvetica",Arial,sans-serif !important;letter-spacing: inherit;} 

/* less height for individual tasks */

.task_list_item .task_checkbox {
    margin-top: 0px !important;
}

.task_list_item__content {
    padding: 0px 0px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    margin-right: 0px !important;
}

.task_content {
    line-height: 18px !important;
    padding-top: 2px !important;
}

.task_list_item__info_tags {
    display: flex !important;
    flex-wrap: nowrap !important;
    margin-right: 0px !important;
}

.date {
    margin-right: 0px !important;
}

.task_list_item__actions {
    margin-top: 0px !important;
    margin-right: 150px !important;
    padding: 0px 0px !important;
}

.project_item__name {
    padding: 3px 2px 0px 0px;
}

#agenda_view .section_day, #agenda_view .section_overdue {
    margin-bottom: 0px !important;
}

ul.items.day_list.ul_today.is_filtered {
    margin-bottom: 4px !important;
}

ul.section_list>li {
	padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.view_header {
    margin-bottom: 0px !important;
    border-top: 10px #555555 !important;
}

.section {
    margin-bottom: 4px !important;
}    

.section h2, .section h2 a {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
    font-family: "SF UI Text","SF Compact Text","Helvetica",Arial,sans-serif !important;
    font-size: 15px !important;
    font-weight: 100;
    color: gray;
    text-transform: uppercase;
}

.subsection_header__date {
    font-size: 15px !important; 
}

div.project_editor_instance {
    margin-bottom: 0px !important;
}

/* less padding between projects in left menu */
    
#projects_list div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* uncomment the following to add gray lines between each task */
/* .task_list_item {
    border-bottom: 1px solid #333333 !important;
} */
.task_list_item { border-bottom: 0px !important; }


/* uncomment the following if you use Clockify
.clockify-button-inactive {
    padding: 0px 20px 0px 0px !important;
}

.task_list_item__info_tags {
    margin-right: 50px !important;
}

.task_list_item__actions {
    margin-right: 280px !important;
}

*/